
*{
    margin-left: 5px;
}

.radio {
    display: flex;
    
}

.main {
    display: grid;
    row-gap:  15px;
}

.checkbox {
    margin: -12px 3px;
}

.topline{
    margin: -15px 10px;
}

.bottomline{
    margin: 20px 12px;
}

.bottomtext{
    margin: 0px 10px;
}





.container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin: 10px 5px;
    cursor: pointer;
    font-size: 15px;
  }

  .container .check-highload {
    position: absolute;
    opacity: 0;
  }
  
  .highload2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width:15px;
    background-color: white;
    border:1px black  solid;

  }
 
  .container:hover .check-highload ~ .highload2 {
    background-color: #ccc;
  }

  .highload2:after {
    content: "";
    position: absolute;
    display: none;
  }

   .check-highload:checked ~ .highload2:after {
    display: flex;
  }

   .highload2:after {
    top: -2px;
    left: 3px;
    width: 8px;
    height: 12px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
